# Environnements
.env
.env.local
.env.*.local

# Node.js
node_modules/
dist/
.next/
out/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDEs/éditeurs
.vscode/
.idea/

# Tests
coverage/

# Others
*.log